{% include "admin/admin_common_header.html" %}

<title>{% block title %}角色管理{% endblock %}</title>
{% block header %}{% endblock %}
<meta name="keywords" content="">
<meta name="description" content="">

</head>
<body>
{% block main_content %}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首頁 <span class="c-gray en">&gt;</span> 
    管理員管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" 
    style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" 
    title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a href="javascript:;" onclick="datadel()" 
        class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量刪除</a> 
        <a class="btn btn-primary radius" href="javascript:;" 
        onclick="admin_role_add('添加角色','{{url_for('admin.admin_add_role')}}','800')"><i class="Hui-iconfont">&#xe600;</i> 
        添加角色</a> </span> <span class="r">共有數據:<strong>{{ count }}</strong> 條</span> </div>
	
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="6">角色管理</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" value="" name="smallBox" id="smallBox"></th>
                    <th width="40">ID</th>
                    <th width="200">角色名</th>
                    <th>用戶列表</th>
                    <th width="300">描述</th>
                    <th width="70">操作</th>
                </tr>
            </thead>
		<tbody>
        {% if roles %}
            {% for v in roles %}
			<tr class="text-c">
				<td><input type="checkbox" value="{{ v.id }}" name="smallBox" id="smallBox"></td>
				<td>{{ v.id }}</td>
				<td>{{ v.name }}</td>
				<td><a href="#">{{ v.admin }}</a></td>
				<td>{{ v.description }}</td>
				<td class="f-14"><a title="编辑" href="javascript:;" 
                    onclick="admin_role_edit('角色编辑','{{ url_for('admin.admin_edit_role')}}','{{ v.id }}')" 
                    style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
                    <a title="删除" href="javascript:;" onclick="admin_role_del(this,'{{ v.id }}')" 
                    class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
            {% endfor %}
        {% endif %}			
		</tbody>
	</table>
</div>

{% endblock %}

{% include "admin/admin_common_footer.html" %}
{% block footer_css_js %}

<script src="{{ url_for('static', filename='lib/My97DatePicker/4.8/WdatePicker.js')}}"></script>
<script src="{{ url_for('static', filename='lib/laypage/1.2/laypage.js')}}"></script>

<script type="text/javascript">
    
    function admin_role_edit(title,url,id,w,h){

    window.location.href="{{url_for('admin.admin_edit_role')}}?id="+id;
}
  

        function admin_role_del(obj,id){
        layer.confirm('確定要刪除角色嗎?',function(index){
            $.ajax({
                    type: 'POST',
                    url: "{{ url_for('admin.admin_del_role')}}",
                    dataType: 'json',
                    data:{id:id},
                    success: function(data){
                        $(obj).parents("tr").remove();
                        layer.msg('已刪除',{icon:1,time:1000});
                    },
                    error:function(data) {
                        console.log(data.msg);
                    },
                });		
            });
        }
</script>




<script type="text/javascript" src="lib/datatables/1.10.15/jquery.dataTables.min.js"></script>



{% endblock %}

</body>
</html>