{% extends 'admin/admin_base.html' %}
{% block title %}系統日誌{% endblock %}
{% block header %}{% endblock %}

{% block main_content %}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首頁
	<span class="c-gray en">&gt;</span>
	系統管理
	<span class="c-gray en">&gt;</span>
	系統日誌
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c"> 日期範圍:
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
		<input type="text" name="" id="" placeholder="日誌名稱" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜尋日誌</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">

		
          
        <a href="javascript:;" onclick="system_log_all_del()" class="btn btn-danger radius">
            <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 


		</span>
		<span class="r">共有數據:<strong>54</strong> 條</span>
	</div>
	<table class="table table-border table-bordered table-bg table-hover table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">類型</th>
				<th>內容</th>
				<th width="17%">用戶名</th>
				<th width="120">客戶端IP</th>
				<th width="120">時間</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
			

            
            {% for v in list %}
            <tr class="text-c">
                <td><input type="checkbox" value="{{ v.id }}" name="smallBox"></td>
                <td>{{ v.id }}</td>
                <td>1</td>
                <td>{{ v.operate }}</td>
                <td>{{ v.user_name }}</td>
                <td>{{ v.ip }}</td>
                <td>{{ v.add_time }}</td>
                <td>
                    <a href="javascript:;" title="刪除" onclick="system_log_del(this, '{{ v.id }}')"
                    class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {% endfor %}








		</tbody>
	</table>
	<div id="pageNav" class="pageNav"></div>
</div>

{% endblock %}

{% block footer_css_js %}
<script type="text/javascript" src="{{ url_for('static',filename='lib/My97DatePicker/4.8/WdatePicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='lib/datatables/1.10.15/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='lib/laypage/1.2/laypage.js') }}"></script>

<script type="text/javascript">
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,7]}// 制定列不参与排序
	]
});

/*查看日志*/
function system_log_show(){
	
}
/*日志-删除*/


function system_log_del(obj,id){
	layer.confirm('確定要刪除嗎?',function(index){
		$.ajax({
			type: 'POST',
			url: "{{ url_for('admin.admin_log_del')}}",
            data:{aid:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已刪除',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			}
		});		
	});
}

function system_log_all_del(){
    layer.confirm('確定要刪除嗎?',function(index){
        if ($("input[name=smallBox]:checked").length == 0){
			layer.msg('必須選擇一項', {icon:1, time:1000});
		}else{
            let params='';
			$("input[name=smallBox]:checked").each(function(index,element){
				console.log('yes');
				if (index == 0){
					params += ''+$(this).val();
				}else{
					params += ', '+$(this).val();
				}
			});
		

			console.log(params);
            $.ajax({
				type:'POST',
				url:"{{ url_for('admin.system_log_all_del')}}",
				data:{aid:params},
				success:function(data){
					$("input[name=smallBox]:checked").each(function(){
						$(this).parents('tr').remove();
					});
					window.location.href=window.location.href;
					layer.msg('已刪除', {icon:1, time:1000});
				},
				error:function(data){
					console.log(data.msg);
					alert('失敗');
					alert(data);
				}
			});

        }
    });
};


</script>
{% endblock %}