<div>
    <div class="page-container">
        <p class="f-20 text-success">個人資訊</p>
        <table class="table table-border table-bordered table-bg mt-20">
            <tbody>
                <tr>
                    <th width="30%">姓名</th>
                    <td><span id="1bServeName">{{user.username}}</span></td>
                </tr>
                <tr>
                    <td>信箱</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>註冊時間</td>
                    <td>{{ user.reg_time }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>